nav{
    background-color: black;
    color: white;
    /* overflow: hidden; */
}

footer{
    background-color: black;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

body{
    background-color: #c5d9ec;
}

.card {
    margin: 2em;
}

table{
    width: 100%;
    font-size: larger;
}
table tr{
    height: 2em;
}

.content{
    text-align: center;
    font-weight: 700;
    font-size: large;
    margin: 10%;
}

